[] It should have a place to store todos
[] It should have a way to display todos
[] It should have  a way to add a todo
[] It should have a way to edit a todo
[] It should have a way to remove a todo
