Version 4
[] It should have a function to toggle todo

Version 3
[x] we should initialize the todos variable with object
[x] The add function should add objects
[] The edit function should edit objects
[] It should have a function to toggle a todo 
Version 2
[x] It should have a function to add a todo
[] It should have a function to edit a todo
[] It should have a function to remove a todo

[x] It should have a place to store todos
[x] It should have a way to display todos
[x] It should have  a way to add a todo
[x] It should have a way to edit a todo
[x] It should have a way to remove a todo
